<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Calc</title>
    <link rel="stylesheet" th:href="@{/css/currency.css}">
</head>

<body>
<!-- send form til whatever du @PostMapper, bare husk at @RequestParam("amount") <-skal have det rigtige navn på den ønskede input form -->
<div class="range-box">
<form action="#" th:action="@{/currencycalc}" method="post">
<label for="number">Indtast USD</label>
<input type="number" id="number" name="amount" placeholder="100" step="any">

    <label for="fromcurrency">From Currency:</label>
    <select id="fromcurrency" name="fromcurrency">
        <option value="DKK">DKK</option>
        <option value="SEK">SEK</option>
        <option value="NOK">NOK</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
    </select>

    <label for="tocurrency">To Currency:</label>
    <select id="tocurrency" name="tocurrency">
            <option value="EUR">EUR</option>
            <option value="SEK">SEK</option>
            <option value="NOK">NOK</option>
            <option value="USD">USD</option>
            <option value="DKK">DKK</option>
    </select>


    <input type="submit" value="Calc">
</form>
</div>

<div class="range-box">
    <h3><span th:text="${amount} + ' ' + ${fromcurrency}"></span></h3>
    <h3><span th:text="'is worth ' + ${#numbers.formatDecimal(result, 1, 3)} + ' ' + ${tocurrency}"></span></h3>
    <!--<span th:text="${amount}"></span>-->
    <!--    <span th:text="'DKK: ' + ${dkkResult}"></span>-->
    <!--    <span th:text="'EUR: ' + ${eurResult}"></span>-->
    <!--    <span th:text="'SWE: ' + ${rates.getSWE * amount}"></span>-->
    <!--    <span th:text="'NOK: ' + ${rates.getNOK * amount}"></span>-->
</div>

<div class="range-box">
<div th:if="${amount != null}">
    <h3>USD$ <span th:text="${amount}"></span></h3>

    <!-- Formatering only, hvis udregning sker i java, det første tal sikrer at der ikke bare bliver skrevet .9 hvis taller er under 1. dvs 1 giver 0.9 og 0 giver .9: -->
    <p>EUR: <span th:text="${#numbers.formatDecimal(eurResult, 1, 3)}"></span> €</p>
    <p>DKK: <span th:text="${#numbers.formatDecimal(dkkResult, 1, 3)}"></span> kr.</p>
    <p>NOK: <span th:text="${#numbers.formatDecimal(nokResult, 1, 3)}"></span> kr.</p>
    <p>SEK: <span th:text="${#numbers.formatDecimal(sekResult, 1, 3)}"></span> kr.</p>



    <!-- Udregning af 2 variabler:  -->
     <p>EUR: <span th:text="${#numbers.formatDecimal(amount * rates.EUR, 1, 2)}"></span> €</p>
</div>
</div>

</body>
</html>
