<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${day}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<H1>Today is:</H1>
<h1 th:text="${day}"></h1>
<div th:switch="${day}">
    <div th:case="'MONDAY'" class="day-message">

        <img th:src="@{/img/garfield.png}"
             alt="Garfield hader mandage!"
             width="300">

        <p>Det er mandag, og Garfield hader mandag.</p>


    </div>

<div class="range-box" th:case="'TUESDAY'">Det er tirsdag</div>
<div th:case="'WEDNESDAY'">Det er onsdag</div>
<div th:case="'THURSDAY'">Det er torsdag også kendt som lille fredag</div>
<div th:case="'FRIDAY'">Det er fredag</div>
<div th:case="'SATURDAY'">Det er lørdag</div>
<div th:case="'SUNDAY'">Det er Søndag og garfield er bobbob</div>
<!--    <p th:case="*">ukendt dag?!</p>-->
</div>
</body>
</html>
