<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time to yell on the internet</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<h1>Social Shit posting</h1>

<form action="/social" th:action="@{/social}" method="post" th:object="${messageModel}">

    <div class="range-box">
    <input type="text" id="name" th:field="*{name}" placeholder="Name">
    <label for="name">User Name</label>
    <label for="textarea">Shit posting goes here:</label>
    <textarea th:field="*{message}" placeholder="Dumb shit goes here" id="textarea" name="textarea" rows="4" cols="50">
    </textarea>
    <br>

<!--    <label for="privpub">Private/Public</label>-->
<!--    <input th:field="*{privpub}" type="text" id="privpub" name="privpub">-->
        <select th:field="*{privpub}">
<!--            <option th:value="'M'" th:text="Male"></option>-->
<!--            <option th:value="'F'" th:text="Female"></option>-->
<!--        <label for="viewoptions">Choose who can see your shitposting:</label>-->
<!--        <select th:field="*{privpub}" id="viewoptions" name="viewoptions">-->
            <option th:value="'private'" th:text="Private"></option>
            <option th:value="'public'" th:text="Public"></option>
            <option th:value="'network'" th:text="Network"></option>
        </select>


    <button type="submit">Submit your shit</button>
    </div>
</form>
<p th:text="${today}"></p>
</body>
</html>