<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shit posted, dumbass</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="range-box">
<p>Username:</p>
<p th:text="${messageModel.name}"></p>
<p>Posted:</p>
<p th:text="${messageModel.message}"></p>
<p>Private/public:</p>
<p th:text="${messageModel.privpub}"></p>
    <p>Date:</p>
    <p th:text="${messageModel.date}"></p>
</div>
<
</body>
</html>