<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Internet douchebag messageboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!--private String name;-->
<!--private String message;-->
<!--private String privpub;-->
<!--private LocalDate date;-->

<div th:each="msgRepo: ${msgRepo}" class="range-box">

    <h1 th:text="${msgRepo.name}"></h1>
    <h6 th:text="${'Date: ' + msgRepo.date}"></h6>
        <h2 th:text="${msgRepo.message}"></h2>

    <h6>
        Who can see this:
        <span th:text="${msgRepo.privpub}"></span>

        <span th:text="${msgRepo.likes}"></span>
        👍
    </h6>


    <!--    th:action="@{'/messages/' + ${msgRepo.id} + '/like'}" can be done like this-->
    <form th:action="@{/messages/{id}/like(id=${msgRepo.id})}" method="post">
        <button type="submit">Like This Shit</button>
    </form>


</div>
<a th:href="@{/social}">New Shit</a>
</body>
</html>